@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --main-color:#92E3A9;
}

body {
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionMain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 24.8vh;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}
.paragraph {
    width: 80%;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.contentPageTwo {
    display: none;
}
.contentPageThree {
    display: none;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 20%;
    height: 10vh;
}

.ButtonOne {
    background-color: var(--main-color);
}

.ButtonOne, .ButtonTwo, .ButtonThree {
    border: solid 1px;
    cursor: pointer;
}

.ButtonOne, .ButtonTwo, .ButtonThree{
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 20.5vh;
}

button {
    height: 5.1vh;
    width: 40%;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 4px 10px 0px #A1C3FC;   
    border: none;
    cursor: pointer;
}

.skipParagraph {
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

.ContinueButton{
    width: 80%;
}
@media (min-width: 1700px) and (max-width: 2600px){
    .mainImg{
        height: 40vh;
    }
    .sectionMain{
        height: 29.5vh;
    }
    .title {
        font-size: 3.5rem;
    }
    .paragraph {
        font-size: 2rem;
    }
    .ButtonOne, .ButtonTwo, .ButtonThree{
        height: 35px;
        width: 35px;
    }
    .ContinueButton {
        font-size: 2.5rem;
    }
    .skipParagraph {
        font-size: 2rem;
    }
    .ContinueButton{
        width: 50%;
        height: 10vh;
    }
}


@media (min-width: 1500px) and (max-width: 1700px){
    .skipParagraph {
        font-size: 1.5rem;
    }
    button {
        font-size: 2rem;
    }
    .paragraph {
        font-size: 2rem;
    }
    .title {
        font-size: 3rem;
    }
    .buttons{
        height: 20vh;
    }
    .mainImg{
        height: 45vh;
    }
    .ButtonOne, .ButtonTwo, .ButtonThree{
        height: 25px;
        width: 25px;
    }
    .ContinueButton{
        width: 60%;
        height: 10vh;
    }
}


@media (min-width: 1200px) and (max-width: 1500px){
    .mainImg{
        height: 50vh;
    }
    .sectionMain{
        height: 19.5vh;
    }
    .title{
        font-size: 3rem;
    }
    .paragraph {
        font-size: 2rem;
    }
    .ButtonOne, .ButtonTwo, .ButtonThree{
        height: 25px;
        width: 25px;
    }

    .ContinueButton{
        font-size: 1.8rem;
        height: 10vh;
    }
    .skipParagraph{
        font-size: 1.5rem;
    }
    .ContinueButton{
        width: 60%;
    }
}



@media (min-width: 1024px) and (max-width: 1200px){
    .sectionMain{
        height: 19.5vh;
    }
    button {
        height: 8vh;
        font-size: 1.5rem;
    }
    .skipParagraph {
        font-size: 2rem;
    }
    .title {
        font-size: 3rem;
    }
    .paragraph {
        font-size: 1.5rem;
    }
    .ButtonOne, .ButtonTwo, .ButtonThree{
        height: 20px;
        width: 20px;
    }
    .mainImg{
        height: 50vh;
    }    
    .ContinueButton{
        font-size: 2rem;
        width: 60%;
    }
}

@media (min-width: 911px) and (max-width: 1023px){
    .title{
        font-size: 3.5rem;
    }
    .paragraph {
        font-size: 2rem;
    }
    button {
        font-size: 2rem;
    }
    .skipParagraph {
        font-size: 1.5rem;
    }
    .mainImg{
        height: 44.5vh;
    }
    .ContinueButton{
        font-size: 2rem;
    }
    .ButtonOne, .ButtonTwo, .ButtonThree{
        height: 25px;
        width: 25px;
    }
}

@media (min-width: 767px) and (max-width: 911px){
    .sectionMain{
        height: 20vh;
    }
    .buttons{
        height: 20vh;
    }
    .title{
        font-size: 2rem;
    }
    .paragraph {
        font-size: 1.5rem;
        width: 60%;
    }
    .ButtonOne, .ButtonTwo, .ButtonThree{
        height: 20px;
        width: 20px;
    }
    .navigation {
        width: 40%;
    }
    button {
        font-size: 1.4rem;
    }
    .skipParagraph {
        font-size: 1.2rem;
    }
    .mainImg{
        height: 49.9vh;
    }
    .ContinueButton{
        font-size: 2rem;
        height: 8vh;
    }
    .skipParagraph{
        font-size: 1.5rem;
    }    
}

@media (min-width: 540px) and (max-width: 767px) {
    .mainImg{
        height: 35vh;
    }
    .sectionMain{
        height: 35vh;
    }
    .title{
        font-size: 2.5rem;
    }
    .paragraph{
        font-size: 2rem;
    }
    .ContinueButton{
        font-size: 1.8rem;
        width: 80%;
        height: 6vh;
    }
    .skipParagraph{
        font-size: 1.5rem;
    }
    .ButtonOne, .ButtonTwo, .ButtonThree{
        height: 20px;
        width: 20px;
    }
    .buttons{
        height: 20vh;
    }
}

@media (min-width: 500px) and (max-width: 540px) {
    .sectionMain{
        height: 33.4vh;
    }
}

@media (min-width: 428px) and (max-width: 500px) {
    .mainImg{
        height: 44.5vh;
    }
}

@media (min-width: 420px) and (max-width: 425px){
    .mainImg{
        height: 44.5vh;
    }
}

@media (min-width: 400px) and (max-width: 425px) and (min-height: 800px) {
    .sectionMain{
        height: 21.5vh;
    }
    .buttons{
        height: 23.8vh;
    }
}

@media (min-width: 400px) and (max-width: 410px) and (min-height: 1100px) {
    .sectionMain{
        height: 35vh;
    }
    .buttons{
        height: 29.5vh;
    }
}

@media (max-width: 414px){
    .sectionMain{
        height: 25vh;
    }
    .buttons{
        height: 25vh;
    }
    .mainImg {
        height: 40vh;
    }
}

@media (max-width: 413px) {
    .sectionMain{
        height: 25.8vh;
    }
    .buttons{
        height: 28vh;
    }

}
@media (max-width: 413px) and (max-height: 915px) {
    .sectionMain{
        height: 27vh;
    }
    .buttons{
        height: 28vh;
    }
}

@media (min-width: 394px) and (max-width: 412px) and (min-height: 800px) and (max-height: 852px) {
    .sectionMain{
        height: 30vh;
    }
    .buttons{
        height: 25vh;
    }
}

@media (min-width: 376px) and (max-width: 393px){
    .sectionMain{
        height: 25vh;
    }
    .buttons{
        height: 25vh;
    }
    .mainImg {
        height: 40vh;
    }
}


@media (max-width: 376px){
    .mainImg{
        height: 45vh;
    }
    .sectionMain{
        height: 20vh;
    }
    .buttons{
        height: 25vh;
    }
}

@media (max-width: 360px) {
    .sectionMain{
        height: 16vh;
    }
    .buttons{
        height: 28.8vh;
    }
}

@media (max-width: 321px) {
    .sectionMain{
        height: 23vh;
    }
    .buttons{
        height: 20vh;
    }
    .mainImg {
        height: 47vh;
        width: 80%;
    }
    .skipParagraph {
        font-size: 1rem;
    }
    .ContinueButton{
        height: 5vh;
    }
}

@media (min-width: 320px) and (max-width: 350px) and (min-height:800px) and (max-height: 830px){
    .buttons{
        height: 20vh;
    }
}

@media (min-width: 280px) and (max-width: 300px){
    .sectionMain{
        height: 25vh;
    }
    .buttons{
        height: 25vh;
    }
    .mainImg {
        height: 40vh;
    }
    .title {
        font-size: 1rem;
    }
    .paragraph {
        font-size: 0.8rem;
    }
    .skipParagraph {
        font-size: 1rem;
    }
    .ContinueButton{
        width: 80%;
        height: 6vh;
    }
}

