/* 92E3A9 - cor de fundo - button */
/* Poppins - nome da fonte */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --main-color:#92E3A9;
}

body {
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionMain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

.sectionMain h1 {
    font-size: 1.5rem;
    font-weight: 600;
}
.sectionMain p {
    width: 80%;
    text-align: center;
    font-weight: 400;
}

.contentPageTwo {
    display: none;
}
.contentPageThree {
    display: none;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 20%;
    height: 10vh;
}

.ButtonOne {
    background-color: var(--main-color);
}

.ButtonOne, .ButtonTwo, .ButtonThree {
    border: solid 1px;
}

.ButtonOne, .ButtonTwo, .ButtonThree{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 20.5vh;
}

button {
    height: 54px;
    width: 304px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0px 4px 10px 0px #A1C3FC;   
    border: none;
}

.skipParagraph {
    text-decoration: none;
    color: var(--main-color);
}